 .text1,.text11{
    width:600px;
    height: 35px;

}

.nam1{
    margin-left:5px;
    font-size: xx-large;

} 


.textarea{
    width:600px;
    height: 80px;
}
.parent{
    display: grid;
    grid-template-columns:700px 700px;
    column-gap: 20px;
}
.button{
    margin:5px;
    width:97%;
    height: 50px;
    background-color: aqua;

}
.b1{
  margin-left: 50%;
  margin-top: 10px;
}
.star{
    font-size: xx-large;
    color: red;
}